/*header*/
header {
    position: fixed;
    /*display: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    background-color: #003049;
    width: 100%;
    z-index: 1000;
    height: 75px;
}

.menucontain {
    position: relative;
    margin-left: 20px;
    padding-top: 30px;
}

.lefts {
    margin-left: 5px;
    margin-top: 5px;
}

.rights {
    margin-right: 20px;
}

h1 {
    color: #003049;
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    position: relative;
    -webkit-text-stroke: 0.05vw white;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b2a496;
    width: 100%;
    height: auto;
}

.imgbox img {
    width: 170px;
    height: 160px;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.about {

    width: 90px;
    height: 400px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-btn {
    position: fixed;
    color: white;
    font-size: 28px;
    cursor: pointer;
    /*margin-top: -20px;*/
    right: 190px;
    display: block;
    z-index: 100;
    top: 20px;
}

.openCartBtn {
    background-color: #003049;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 45px;
    top: 5px;
    right: 65px;
}

.openCartBtn:hover {
    background-color: #001c30;
}

.shoppingcart {
    position: absolute;
    width: 47px;
    margin-top: 0px;
    margin-right: 2px;
    cursor: pointer;
    z-index: 50;
}


.search {
    position: fixed;
    min-height: 30px;
    padding: 5%;
    width: 100%;
    display: flex;
    /*left: 100px;*/
    color: white;
    margin-top: -95px;
    /* margin-right: 320px;*/
    left: 860px;
}

.search1 {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 60px;
    padding: 1px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search1 input {
    flex: 1;
    border: 0;
    background: transparent;
    outline: none;
    padding: 5px 1px;
    font-size: 20px;
    color: #B08968;
    outline: none;
}

::placeholder {
    color: white;
    font-size: 16px;
}

.search1 button {
    border: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    background: #B08968;
}

.search1 button img {
    width: 24px;
}

.nii {
    position: absolute;
    margin-left: 10px;
    margin-top: -18px;
}

.ni {
    color: #B08968;
    font-size: 30px;
    border: 2px;
    position: absolute;
    left: 50px;
    font-family: 'Noto Serif TC', serif;
}

.ni2 {
    color: #B08968;
    font-size: 40px;
    border: 2px;
    position: absolute;
    left: 100px;
    top: -7px;
    font-weight: 550;
    font-family: 'Italianno', cursive;
}


.shoppingcart {
    position: absolute;
    width: 47px;
    top: 12px;
    right: 70px;
}

/*footer*/
footer {
    color: white;
    background-color: #003049;
    padding: 5px;
}

.footer1 {
    color: white;
    text-align: left;
    text-decoration: none;
    margin-right: 20px;
}

.line1 {
    margin: 30px 25px 10px 80px;
    font-size: 18px;
    font-weight: bold;
}

.hr3 {
    width: 1350px;
}

.line2 {
    display: inline-block;
    margin: 7px 20px 7px 80px;
    font-size: 18px;
    font-weight: bold;
}

.linkicon {
    width: 2.7%;
}

.footertext {
    text-align: center;
}