.shoppingbody {
    display: flex;
    flex-direction: column;
}

.shoppingcart-title {
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    color: #003049;
    margin: 27px 0;
    padding: 17px 0 0 0;
}

.payment fieldset {
    border: none;
}

.delivery fieldset {
    border: none;
}

.cart-item {
    background-color: #E0E1DD;
    margin: 10px 195px 10px 195px;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    align-items: center;
}

.payment,
.delivery {
    font-size: 18px;
    margin-right: 300px;
    color: #003049;

}

.cartitemtext {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cartitemtext img {
    width: 170px;
    margin: 10px 100px 10px 10px;
    cursor: pointer;
}

.cartitemquantity {
    display: flex;
    justify-content: flex-start;
}

.quantitybutton2 {
    background-color: #003049;
    color: white;
    border-radius: 3px;
    margin: 0 5px;
    padding: 0 7px;
    font-size: 20px;
    font-weight: bolder;

}

.quantitybutton3 {
    background-color: #003049;
    color: white;
    border-radius: 3px;
    margin: 0 5px;
    padding: 0 5px;
    font-size: 20px;
    font-weight: bolder;

}

.quantitytext2 {
    text-align: center;
}

.method {
    background-color: #E0E1DD;
    margin: 10px 195px 10px 195px;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item1 {
    background-color: #E0E1DD;
    margin: 10px 195px 35px 195px;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    align-items: center;

}

.totalprice1 {
    margin-left: 60px;
    display: flex;
    align-items: center;
}

.totalpricetext {
    display: inline;
    font-size: 27px;
}

.totalprice {
    text-align: center;
    font-size: 28px;
    display: flex;
    align-items: center;
}

.checkout {
    margin-left: 400px;
    background-color: #003049;
    color: white;
    border-radius: 7px;
    font-size: 25px;
}

h5 {
    font-size: 21px;
}

.cartitemquantity img {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 350px;
    margin-top: 34px;
}