main {
    position: absolute;
    top: 110px;
}

.cart-item {
    background-color: #E0E1DD;
    margin: 10px 150px 10px 150px;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    align-items: center;
}

.cartitemtext {
    display: flex;
    justify-content: flex-start;
}

.cartitemtext img {
    width: 200px;
    margin: 10px 150px 10px 10px;
}

.cartitemquantity {
    display: flex;
    justify-content: flex-start;
}

.quantitybutton2 {
    background-color: white;
    color: black;
    border-radius: 3px;
    margin: 0 5px;
    padding: 0 5px;
    font-size: 20px;
}

.quantitytext2 {
    text-align: center;
}